.jumbotron
  %h3 Java
  %p I have worked on a little bit of Java on the side for school. |
     I understand how compiled langauges operate and their differences. |
     Our main project for the class was a cash register for a small storefront. |
  %p Source Code:
  %a{:class=>"btn btn-primary" ,:target=>"_blank",:rel=>"noopener noreferrer",:href=>"https://github.com/blackmorekwb/Java-tmp/blob/master/posSystem/register.java"}
    %i.fab.fa-github.pr-1
    %span Github
