.jumbotron.text-center
  %h3 HTML / Javascript
  %p I have been working on web applications |
     since I began programming. A lot has changed |
     from the xHtml days. Html, Javascript, and CSS |
     have come a long way to keep up with the market needs. |
  %br
  %h5 Aspects I focus on:
  %ul
    %li Responsive Design
    %li Mobile friendly
    %li Secure Data
    %li Color theming

.jumbotron.text-center
  %h6 Source Code
  %p All source code for this site can be found |
      on Github with the following link: |
  = render 'partials/btn_github'
