/*
  deleted require statements as per bootstrap gem docs
 */
@import "bootstrap";
@import "mixins";

 /* spacer for fixed header */
.spacer {
 width: 100%;
 height: 75px;
}
              /*  Container */
.container{

  .row {
    margin-bottom: 50px;
  }

  .popout { //popout instead of collaps / naming issues with other collapse methods
    margin-bottom: 50px;
    min-height: 150px;
  }
}


              /*  Carousel  */
.carousel {
  margin-bottom: 50px;
  padding-top: 50px;

  .carousel-control {
    //padding-top: 15%;

    .fa {
      @include align-vertically;
    }
  }

  .slide-one-content {

      position: absolute;
      left: 20%;
      margin-top: 15%;

      #button-more-info {
        margin-top: 20px;
      }
  }
}
              /*  Footer  */
.navbar-fixed-bottom {

  .pull-right {

    .fa {
      padding: 10px;
    }
  }
}
