.jumbotron
  %h3 Rails / Ruby
  %p I first learned programming with Ruby; started with a simple |
     text based game, like Zork. When I transitioned into web development |
     I went into Ruby on Rails. |
  %p Rails has many benefits, including speed of development and security.
  %p Tasked with upgrading legacy code in Rails I learned the many |
     differences between the versions of Rails and how to overcome the |
     nuances of each. |
  %br

.jumbotron
  %h5 Other Ruby:
  %ul
    %li Data analysis (see picture below)
    %li Server / VM Initialization - Chef / Docker
    %li Logging analysis with Splunk
    %li Best practices - Performance and security
  = link_to image_tag('sql_ex1a.PNG')

.jumbotron.text-center
  %h6 This application is written in Rails
  %p All source code for this site can be found |
      on Github with the following link: |
  = render 'partials/btn_github'
