.row
  .col-md-4
    = image_tag('backend.png',size: '320x200')
  .col-md-8.text-right
    %h3 Back End
    %p Front-end is the gateway, but back-end is the foundation. Without foundation the application wouldn't remain. From SQL to server provisioning and maintenance I provide stable development environments that are easily shared and distributed to an entire software team.
    %button.btn.btn-primary{ 'data-toggle' => 'collapse', 'data-target' => '#back-end'} More
#back-end.collapse.popout
  %div{role: 'tabpanel'}
    / Nav tabs / Hover is in app js
    %ul.nav.nav-tabs.pull-right{role: 'tablist'}
      %li.active{role: 'presentation'}
        = link_to image_tag('database.png', size: '80x80'),     '#tabs-1', 'aria-controls': 'database', 'data-toggle': 'tab', href: '#database',     role: 'tab'
      %li{role: 'presentation'}
        = link_to image_tag('mysql.png', size: '80x80'),        '#tabs-2', 'aria-controls': 'mysql',    'data-toggle': 'tab', href: '#mysql',        role: 'tab'
      %li{role: 'presentation'}
        = link_to image_tag('commerce.png', size: '110x80'),    '#tabs-4', 'aria-controls': 'commerce', 'data-toggle': 'tab', href: '#commerce',     role: 'tab'
    / Tab panes
    .tab-content
      #database.tab-pane.fade.in.active{role: 'tabpanel'}
        %p Data has to be sorted and carefully attended to whilst keeping best security practices and PCI compliance. I provide database querying, data analysis, and encrypted data of personal information.
      #mysql.tab-pane.fade{role: 'tabpanel'}
        %p Upgrade from normal SQL to MySQL or PostgreSQL to provide a robust relational database. This allows for a stronger foundation and a more intricate application.
      #commerce.tab-pane.fade{role: 'tabpanel'}
        %p Internet based financial transactions must be handled with care and security. In a growing market share, you too can have a robust e-commerce application.
