.navbar.navbar-dark.bg-dark.navbar-fixed-bottom
  .container
    %p.navbar-text.pull-left
      © 2019 - Built By Kyle Blackmore
    .pull-right
      %ul.nav.list-inline
        %li.nav-item
          %a.nav-link{:href => "/"} Home
        %li.nav-item
          %a.nav-link{:href => "/html"} HTML/JS
        %li.nav-item
          %a.nav-link{:href => "/scripting"} Rails
        %li.nav-item
          %a.nav-link{:href => "/sql"} SQL
        %li.nav-item
          %a.nav-link{:href => "/objective"} C/Java
