.row
  .col-md-8
    %h3 Front End
    %p The front-end is the gateway to the user experience. Being crucial to a web application I focus on staying current with trends and best practices. Using HTML and CSS I bring Flexbox and Grid systems to life.
    %button.btn.btn-primary{ 'data-toggle' => 'collapse', 'data-target' => '#front-end'} More
  .col-md-4
    = image_tag('frontend.png', size: '320x200')
#front-end.collapse.popout
  %div{role: 'tabpanel'}
    / Nav tabs / Hover is in app js
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        = link_to image_tag('bootstrap.png', size: '80x80'),      '#tabs-1', 'aria-controls': 'bootstrap','data-toggle': 'tab', href: '#bootstrap', role: 'tab'
      %li{role: 'presentation'}
        = link_to image_tag('jquery.png', size: '80x80'),         '#tabs-2', 'aria-controls': 'jquery',   'data-toggle': 'tab', href: '#jquery',    role: 'tab'
      %li{role: 'presentation'}
        = link_to image_tag('multiplatform.png', size: '100x80'), '#tabs-3', 'aria-controls': 'mpm',      'data-toggle': 'tab', href: '#mpm',       role: 'tab'
      
    / Tab panes
    .tab-content
      #bootstrap.tab-pane.fade.in.active{role: 'tabpanel'}
        %p With Bootstrap I can increase speed and productivity and code. Bootstrap allows full customization with a fully responsive design from smartphones to tablets to pc's.
      #jquery.tab-pane.fade{role: 'tabpanel'}
        %p Jquery is lightweight and increases development speed by having easily readable code.
      #mpm.tab-pane.fade{role: 'tabpanel'}
        %p 49% of web traffic comes from mobile devices (Statista). I offer a responsive and dynamic design that works on all screen sizes with a mobile first mindset.
