%nav#banner.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    / Brand
    %a.navbar-brand{:href => "#"}
      %span> Blackmore
    / Toggler/collapsibe Button
    %button.navbar-toggler{"data-target" => "#collapsibleNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    / Navbar links
    #collapsibleNavbar.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "#"} HTML/JS
        %li.nav-item
          %a.nav-link{:href => "#"} Rails
        %li.nav-item
          %a.nav-link{:href => "#"} SQL
        %li.nav-item
          %a.nav-link{:href => "#"} C/Java
        / Dropdown
        %li.nav-item.dropdown
          %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Dropdown link
          .dropdown-menu
            %a.dropdown-item{:href => "#"} HTML/JS
            %a.dropdown-item{:href => "#"} Rails
            %a.dropdown-item{:href => "#"} SQL
            %a.dropdown-item{:href => "#"} C/Java
            
