%nav#banner.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    / Brand
    %a.navbar-brand{:href => "/"}
      %span> Blackmore
    / Toggler/collapsibe Button
    %button.navbar-toggler{"data-target" => "#collapsibleNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    / Navbar links
    #collapsibleNavbar.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "/"} Home
        %li.nav-item
          %a.nav-link{:href => "/html"} HTML/JS
        %li.nav-item
          %a.nav-link{:href => "/scripting"} Rails
        %li.nav-item
          %a.nav-link{:href => "/sql"} SQL
        %li.nav-item
          %a.nav-link{:href => "/objective"} C/Java
